* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: hsl(67, 39%, 91%);
    width: 100%;
    height: 50px;
    position: fixed;
}

.top_nav_bar {
    padding-top: 13px;
}

.top_nav_bar_list li {
    margin: 0;
    list-style: none;
}

.top_nav_bar_list li {
    display: inline;
    margin-left: 15px;
}

.top_nav_bar_list li a {
    text-decoration: none;
    margin-top: 40px;
    color: black;
}

.top_nav_bar_list li a:hover {
    border-bottom: 5px solid rgb(33, 189, 116);
}

.nav_left {
    background-color: rgba(227, 245, 191, 0.342);
    width: 20%;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 60px;
}

/* for making scrollable box */
.nav_left {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.nav_left a{
    text-decoration: none;
    margin-left: 20px;
    line-height: 20px;
    color: black;
}

.nav_left a:hover {
    font-weight: bolder;
}

.content {
    margin-top: 10px;
    display: flex;
    position: absolute;
    right: 50px;
    width: 70%;
}

.content div {
    width: 100%;
    margin-top: 50px;
    position: inherit;
    left: 0px;
    background: aliceblue;
    padding: 40px 20px;
    z-index: -1;
}